# ignore all object files
*.o

# ignore all library files
*.a
*.dylib

# ignore all files in the build/ directory
build/

# ignore all excutable
so_long
so_long_bonus

# ignore DS_Store
*.DS_Store

# ignore .vscode
*.vscode